<% provide(:title, "Home") %>


    <!-- Jumbotron Content -->
    <div class="jumbotron" id="featured-information">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <%= image_tag "iphone-mockup.png", class:"img-responsive", id:"index-iphone-mockup", alt:"iphone mockup" %>
                </div>
                <div class="col-md-5">
                    <h1>Tappery</h1>
                    <h2>Where Are Your Friends Tonight?</h2>
                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis non sapien quis metus tempus volutpat. Sed accumsan, ligula a faucibus iaculis, mi erat ornare orci, eu gravida lacus est non mi. Morbi ipsum ligula, commodo vel libero quis, condimentum aliquet lectus. Morbi id hendrerit libero.</h3>
                </div>
            </div>
        </div>
    </div><!-- End Jumbotron Content -->

    <div class="container" id="additional-information">
        <div class="row">
            <div class="col-sm-3">
                <h4>DAILY SPECIALS</h4>
                <%= image_tag "daily-specials.png", class:"img-responsive", alt:"daily specials tab screenshot" %>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis non sapien quis metus tempus volutpat. Sed accumsan, ligula a faucibus iaculis, mi erat ornare orci, eu gravida lacus est non mi. Morbi ipsum ligula, commodo vel libero quis, condimentum aliquet lectus. Morbi id hendrerit libero. Aliquam imperdiet dictum suscipit. Nullam volutpat vulputate vestibulum. Phasellus nec leo eget dui auctor finibus.</p>
            </div>
            <div class="col-sm-3">
                <h4>EVENTS FEED</h4>
                <%= image_tag "events-feed.png", class:"img-responsive", alt:"events feed tab screenshot" %>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis non sapien quis metus tempus volutpat. Sed accumsan, ligula a faucibus iaculis, mi erat ornare orci, eu gravida lacus est non mi. Morbi ipsum ligula, commodo vel libero quis, condimentum aliquet lectus. Morbi id hendrerit libero. Aliquam imperdiet dictum suscipit. Nullam volutpat vulputate vestibulum. Phasellus nec leo eget dui auctor finibus.</p>
            </div>
            <div class="col-sm-3">
                <h4>BAR DIRECTORY</h4>
                <%= image_tag "bars.png", class:"img-responsive", alt:"bars tab screenshot" %>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis non sapien quis metus tempus volutpat. Sed accumsan, ligula a faucibus iaculis, mi erat ornare orci, eu gravida lacus est non mi. Morbi ipsum ligula, commodo vel libero quis, condimentum aliquet lectus. Morbi id hendrerit libero. Aliquam imperdiet dictum suscipit. Nullam volutpat vulputate vestibulum. Phasellus nec leo eget dui auctor finibus.</p>
            </div>
            <div class="col-sm-3">
                <h4>FRIENDS LIST</h4>
                <%= image_tag "profile.png", class:"img-responsive", alt:"profile tab screenshot" %>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis non sapien quis metus tempus volutpat. Sed accumsan, ligula a faucibus iaculis, mi erat ornare orci, eu gravida lacus est non mi. Morbi ipsum ligula, commodo vel libero quis, condimentum aliquet lectus. Morbi id hendrerit libero. Aliquam imperdiet dictum suscipit. Nullam volutpat vulputate vestibulum. Phasellus nec leo eget dui auctor finibus.</p>
            </div>
        </div>
    </div>
<!-- End Features Detail Grid -->