<% provide(:title, "Home") %>
<%= render 'layouts/nav' %>	

	<!-- Start Mission Statement Grid -->
	<div class="mission-statement-wrapper">
	<div class="grid grid-pad" id="body-wrapper-grid">
		<div class="col-7-12" id="iphone-mockup">
			<%= image_tag 'iphone-mockup.png' %>
		</div>

		<div class="col-5-12" id="mission-statement">
			<div id="main-logo">
            	<a href="#"><%= image_tag 'tappery.png' %></a>
        	</div>
        	
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id malesuada est. Sed elementum magna dictum aliquam fringilla. Pellentesque nec viverra augue. Nam cursus arcu nec bibendum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent est nisl, pretium sed diam a, porta gravida urna. Donec facilisis eleifend lectus, ac facilisis eros vehicula a. Curabitur hendrerit, risus non pharetra semper, mi ipsum viverra arcu, a tincidunt velit neque vitae enim. Cras elementum est sit amet luctus aliquet.</p>
			
			<div id="app-store-badge">
				<%= image_tag 'app-store-badge.png' %>
			</div>

		</div>
	</div>
	</div>
<!-- End Mission Statement Grid -->
	
<!-- Start Features Detail Grid -->
	<div class="features-detail-wrapper">
	<div class="grid grid-pad" id="features-detail-grid">
		<div class="col-1-4" id="features-content">
			<h3>DAILY SPECIALS</h3>
			<%= image_tag 'daily-specials.png' %>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id malesuada est. Sed elementum magna dictum aliquam fringilla. Pellentesque nec viverra augue. Nam cursus arcu nec bibendum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
		</div>
		<div class="col-1-4" id="features-content">
			<h3>EVENTS FEED</h3>
			<%= image_tag 'events-feed.png' %>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id malesuada est. Sed elementum magna dictum aliquam fringilla. Pellentesque nec viverra augue. Nam cursus arcu nec bibendum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
		</div>
		<div class="col-1-4" id="features-content">
			<h3>BAR DIRECTORY</h3>
			<%= image_tag 'bars.png' %>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id malesuada est. Sed elementum magna dictum aliquam fringilla. Pellentesque nec viverra augue. Nam cursus arcu nec bibendum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
		</div>
		<div class="col-1-4" id="features-content">
			<h3>FRIENDS GOING OUT</h3>
			<%= image_tag 'profile.png' %>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id malesuada est. Sed elementum magna dictum aliquam fringilla. Pellentesque nec viverra augue. Nam cursus arcu nec bibendum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
		</div>
	</div>
</div>
<!-- End Features Detail Grid -->