<p id="notice"><%= notice %></p>

<div class="container" id="bars-detail-header">
		<div class="row">
			<div class="col-md-4">
				<img src="http://placehold.it/320x180" class="img-responsive">
			</div>
			<div class="col-md-8">
				<h1>Bar Name</h1>
				<h2>123 Fake Street, Baltimore, Maryland</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus viverra vehicula tempus. Morbi a massa sed urna finibus venenatis id id arcu. Mauris eu luctus dui. Sed aliquam eget mauris sed ullamcorper. Integer mattis volutpat mauris a facilisis. Nunc non orci dolor. Vestibulum ultricies ac augue sed tristique. Nulla et leo sit amet odio porttitor consectetur eget vel sapien. Morbi pharetra vehicula auctor. Vivamus sapien orci, vehicula at tempus ac, viverra sed tellus</p>
				<ul>
					<li><%= image_tag "facebook.png", id:"bars-detail-social-media", alt:"facebook icon" %>Facebook</li>
					<li><%= image_tag "twitter.png", id:"bars-detail-social-media", alt:"twitter icon" %>Twitter</li>
					<li>Websites</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container" id="bars-daily-specials">
		<div class="row">
			<div class="col-md-3" id="bars-day-of-week">
				<p>MONDAY</p>
			</div>
			<div class="col-md-9" id="bars-drink-food-specials">
				<p>$10 Burritos, $4 beers, $2 shots</p>
			</div>
		</div>
	</div>

	<div class="container" id="bars-daily-specials">
		<div class="row">
			<div class="col-md-3" id="bars-day-of-week">
				<p>TUESDAY</p>
			</div>
			<div class="col-md-9" id="bars-drink-food-specials">
				<p>$10 Burritos, $4 beers, $2 shots</p>
			</div>
		</div>
	</div>
	<div class="container" id="bars-daily-specials">
		<div class="row">
			<div class="col-md-3" id="bars-day-of-week">
				<p>WEDNESDAY</p>
			</div>
			<div class="col-md-9" id="bars-drink-food-specials">
				<p>$10 Burritos, $4 beers, $2 shots</p>
			</div>
		</div>
	</div>
	<div class="container" id="bars-daily-specials">
		<div class="row">
			<div class="col-md-3" id="bars-day-of-week">
				<p>THURSDAY</p>
			</div>
			<div class="col-md-9" id="bars-drink-food-specials">
				<p>$10 Burritos, $4 beers, $2 shots</p>
			</div>
		</div>
	</div>
	<div class="container" id="bars-daily-specials">
		<div class="row">
			<div class="col-md-3" id="bars-day-of-week">
				<p>FRIDAY</p>
			</div>
			<div class="col-md-9" id="bars-drink-food-specials">
				<p>$10 Burritos, $4 beers, $2 shots</p>
			</div>
		</div>
	</div>
	<div class="container" id="bars-daily-specials">
		<div class="row">
			<div class="col-md-3" id="bars-day-of-week">
				<p>SATURDAY</p>
			</div>
			<div class="col-md-9" id="bars-drink-food-specials">
				<p>$10 Burritos, $4 beers, $2 shots</p>
			</div>
		</div>
	</div>
	<div class="container" id="bars-daily-specials">
		<div class="row">
			<div class="col-md-3" id="bars-day-of-week">
				<p>SUNDAY</p>
			</div>
			<div class="col-md-9" id="bars-drink-food-specials">
				<p>$10 Burritos, $4 beers, $2 shots</p>
			</div>
		</div>
	</div>

<%= link_to 'Edit', edit_bar_path(@bar) %> |
<%= link_to 'Back', bars_path %>
