<p id="notice"><%= notice %></p>

<div class="container bars-detail-header">
	<div class="row admin-links">
		<p><%= link_to 'Edit', edit_bar_path(@bar) %> | <%= link_to 'Back', bars_path %></p>
	</div>

		<div class="row" id="bars-primary-container">
			<div class="col-md-4" id="bars-bar-profile-image">
				<img src="http://placehold.it/320x180" class="img-responsive">
			</div>
			<div class="col-md-8" id="bars-primary-information">
				<h1><%= @bar.name %></h1>
				<h2><%= @bar.address_1 %></h2>
				<p><%= @bar.description %></p>
				<ul class="social-icons">
					<% unless @bar.facebook.nil? %>
						<li><a href="<%= @bar.facebook %>" target="_blank"><i class="fa fa-facebook"></i></a></li>
					<% end %>
					<% unless @bar.twitter.nil? %>
						<li><a href="<%= @bar.twitter %>" target="_blank"><i class="fa fa-twitter"></i></a></li>
					<% end %>
					<!-- <li>Websites</li> -->
				</ul>
			</div>
		</div>
	<!--  -->



	<div class="row bars-specials-group">
		<div class="col-md-3 bars-day-of-week">
			<p>MONDAY</p>
		</div>
		<div class="col-md-9 bars-drink-food-specials">
			<p><%= @bar.mon_special %></p>
		</div>
	</div>

	<div class="row bars-specials-group">
		<div class="col-md-3 bars-day-of-week">
			<p>TUESDAY</p>
		</div>
		<div class="col-md-9 bars-drink-food-specials">
			<p><%= @bar.tue_special %></p>
		</div>
	</div>

	<div class="row bars-specials-group">
		<div class="col-md-3 bars-day-of-week">
			<p>WEDNESDAY</p>
		</div>
		<div class="col-md-9 bars-drink-food-specials">
			<p><%= @bar.wed_special %></p>
		</div>
	</div>

	<div class="row bars-specials-group">
		<div class="col-md-3 bars-day-of-week">
			<p>THURSDAY</p>
		</div>
		<div class="col-md-9 bars-drink-food-specials">
			<p><%= @bar.thu_special %></p>
		</div>
	</div>

	<div class="row bars-specials-group">
		<div class="col-md-3 bars-day-of-week">
			<p>FRIDAY</p>
		</div>
		<div class="col-md-9 bars-drink-food-specials">
			<p><%= @bar.fri_special %></p>
		</div>
	</div>


	<div class="row bars-specials-group">
		<div class="col-md-3 bars-day-of-week">
			<p>SATURDAY</p>
		</div>
		<div class="col-md-9 bars-drink-food-specials">
			<p><%= @bar.sat_special %></p>
		</div>
	</div>

	<div class="row bars-specials-group">
		<div class="col-md-3 bars-day-of-week">
			<p>SUNDAY</p>
		</div>
		<div class="col-md-9 bars-drink-food-specials">
			<p><%= @bar.sun_special %></p>
		</div>
	</div>

</div>
	<!-- bar specials container -->
